<header class="header">
  <div class="bg-dark ">
    <div class="container">
      <div class="image-hero ">
        <img src="../assets/img/heroes.png" alt="" class="rounded float-left">
      </div>

      <nav class="navbar  navbar-light">
        <a class=" navbar-brand "></a>
        <form class="navg form-inline">
          <a class="nav-item nav-link" href="#">Heroes Anteriores</a>
          <a class="nav-item nav-link" href="#">¿Como Funciona?</a>
          <a class="nav-item nav-link" href="#">Iniciar Sesión</a>
          <a class="nav-item nav-link" href="#"><i class="fas fa-search"></i></a>
        </form>
      </nav>
    </div>
  </div>
  <div class="card-main">
    <div class="card mb-2 bg-secondary text-white" style="max-width: 25rem; height: 25rem; ">
      <div class="card-body">

        <p class="card-text">Dinos tu opinión sobre</p>
        <h1 class="card-title">Iroman?</h1>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vel error sed dolorum
          Voluptatem, vel error sed dolorum Voluptatem, vel error sed dolorum
          nisi labore fu</p>
        <p>Más Información</p>
        <h4>¿Cuál es tu voto?</h4>
        <br>
        <button type="button" class="btn_plus col-md-6 m-0 p-3"
          onclick="visibilidad('.card-main', false), visibilidad('.plus', true), setInterval('cargar()',250)"><i
            class="fas fa-thumbs-up"></i></button>
        <button type="button" class="btn_less col-md-6 m-0 p-3"
          onclick="visibilidad('.card-main', false), visibilidad('.less', true)"><i
            class="fas fa-thumbs-down"></i></button>
      </div>
    </div>
  </div>

  <div class="plus">
    <div class="card mb-2 bg-secondary text-white" style="max-width: 25rem; height: 25rem; ">
      <div class="card-body">
        <h1 class="card-title">Marvel - Iroman</h1>
        <br>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-plus col-md-3"><i class="fas fa-thumbs-up"></i></div>
            <div class="col-md-9">
              <h3> Tu voto <br> ha sido registrado!</h3>
            </div>
          </div>
        </div>
        <br>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vel error sed
          dolorum
        </p>
        <br>
        <button type="button" class="btn btn-outline-light"
          onclick="visibilidad('.card-main', true), visibilidad('.plus', false)">
          << Volver a votar</button>
      </div>
    </div>
  </div>


  <div class=" less">
    <div class="card mb-2 bg-secondary text-white" style="max-width: 25rem; height: 25rem; ">
      <div class="card-body">

        <h1 class="card-title">Marvel - Iroman</h1>
        <br>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-less col-md-3"><i class="fas fa-thumbs-down"></i></div>
            <div class="col-md-9">
              <h3> Tu voto <br> ha sido registrado!</h3>
            </div>
          </div>
        </div>
        <br>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vel error sed
          dolorum
        </p>

        <br>
        <button type="button" class="btn btn-outline-light"
          onclick="visibilidad('.card-main', true), visibilidad('.less', false) ">
          << Volver a votar</button>
      </div>
    </div>
  </div>

  <div class="progress">
    <div class="progress-plus" role="progressbar" style="width: 88%" aria-valuenow="15" aria-valuemin="0"
      aria-valuemax="100"><i class="fas fa-thumbs-up"></i>88%</div>
    <div class="progress-less" role="progressbar" style="width: 12%" aria-valuenow="30" aria-valuemin="0"
      aria-valuemax="100">12%<i class="fas fa-thumbs-down"></i></div>
  </div>
</header>

<div class="alert alert-dark" role="alert">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-4">
        <h5> Lorem ipsum. Dolor</h5> <br>
        <h2>Ip lorem ip.</h2>
      </div>
      <div class="col-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, provident minima tempore laboriosam sed
          reiciendis impedit non deleniti dicta ad</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3>Super Heroes anteriores</h3>
</div>

<div class="container">
  <div class="back">

    <div class="sup">
    </div>

    <div class="tho">
    </div>

    <div class="bat">
    </div>

    <div class="spi">
    </div>

  </div>
</div>